<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tcxx.serve.service.mapper.TcHitRecordMapper">

    <resultMap id="BaseResultMap" type="com.tcxx.serve.service.entity.TcHitRecord">
        <result column="record_id" property="recordId" />
        <result column="record_title" property="recordTitle" />
        <result column="record_type" property="recordType" />
        <result column="record_date" property="recordDate" />
        <result column="author_id" property="authorId" />
        <result column="author_name" property="authorName" />
        <result column="record_img_url" property="recordImgUrl" />
        <result column="modified" property="modified" />
        <result column="created" property="created" />
    </resultMap>

    <sql id="TbName">
        tc_hit_record
    </sql>

    <!-- 用于select查询、insert的公用抽取的列 -->
    <sql id="TbColumns">
		record_id,
		record_title,
		record_type,
		record_date,
		author_id,
		author_name,
		record_img_url,
		modified,
		created
	</sql>

    <insert id="insert" parameterType="com.tcxx.serve.service.entity.TcHitRecord">
        INSERT INTO <include refid="TbName"/> (
        <include refid="TbColumns"/>
        )  VALUES (
        #{recordId},
        #{recordTitle},
        #{recordType},
        #{recordDate},
        #{authorId},
        #{authorName},
        #{recordImgUrl},
        NOW(),
        NOW()
        )
    </insert>

    <update id="update" parameterType="com.tcxx.serve.service.entity.TcHitRecord">
        UPDATE <include refid="TbName"/>
        SET
        record_title = #{recordTitle},
        record_type = #{recordType},
        record_date = #{recordDate},
        author_id = #{authorId},
        author_name = #{authorName},
        record_img_url = #{recordImgUrl},
        modified = now()
        WHERE
        record_id = #{recordId}
    </update>

    <select id="getByRecordId" resultMap="BaseResultMap" parameterType="com.tcxx.serve.service.query.TcHitRecordQuery" >
        SELECT <include refid="TbColumns"/>
        FROM <include refid="TbName"/>
        WHERE
        record_id = #{recordId}
    </select>

    <select id="listByCondition" parameterType="com.tcxx.serve.service.query.TcHitRecordQuery" resultMap="BaseResultMap">
        SELECT <include refid="TbColumns"/>
        FROM <include refid="TbName"/>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="recordDateStart != null">AND record_date &gt;= DATE(#{recordDateStart})</if>
            <if test="recordType != null"> AND record_type = #{recordType}</if>
            <if test="authorId != null and authorId != ''"> AND author_id = #{authorId}</if>
        </trim>
        ORDER BY record_date DESC
        LIMIT #{pagingRecordStart}, #{pagingPageSize}
    </select>

    <select id="countByCondition" resultType="java.lang.Integer" parameterType="com.tcxx.serve.service.query.TcHitRecordQuery">
        SELECT
        COUNT(1)
        FROM
        <include refid="TbName"/>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="recordDateStart != null">AND record_date &gt;= DATE(#{recordDateStart})</if>
            <if test="recordType != null"> AND record_type = #{recordType}</if>
            <if test="authorId != null and authorId != ''"> AND author_id = #{authorId}</if>
        </trim>
    </select>

</mapper>