<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tcxx.serve.service.mapper.TcMemberRechargePackageMapper">

    <resultMap id="BaseResultMap" type="com.tcxx.serve.service.entity.TcMemberRechargePackage">
        <result column="package_id" property="packageId" />
        <result column="package_desc" property="packageDesc" />
        <result column="days_of_validity" property="daysOfValidity" />
        <result column="price" property="price" />
        <result column="enable_status" property="enableStatus" />
        <result column="modified" property="modified" />
        <result column="created" property="created" />
    </resultMap>

    <sql id="TbName">
        tc_member_recharge_package
    </sql>

    <!-- 用于select查询、insert的公用抽取的列 -->
    <sql id="TbColumns">
		package_id,package_desc,days_of_validity,price,enable_status,modified,created
	</sql>

    <insert id="insert" parameterType="com.tcxx.serve.service.entity.TcMemberRechargePackage">
        INSERT INTO <include refid="TbName"/> (
        <include refid="TbColumns"/>
        )  VALUES (
        #{packageId},
        #{packageDesc},
        #{daysOfValidity},
        #{price},
        #{enableStatus},
        NOW(),
        NOW()
        )
    </insert>

    <update id="update" parameterType="com.tcxx.serve.service.entity.TcMemberRechargePackage" >
        UPDATE <include refid="TbName"/>
        SET
        package_desc = #{packageDesc},
        days_of_validity = #{daysOfValidity},
        price = #{price},
        enable_status = #{enableStatus},
        modified = now()
        WHERE
        package_id = #{packageId}
    </update>

    <select id="getByPackageId" resultMap="BaseResultMap" parameterType="com.tcxx.serve.service.query.TcMemberRechargePackageQuery" >
        SELECT <include refid="TbColumns"/>
        FROM <include refid="TbName"/>
        WHERE
        package_id = #{packageId}
    </select>

    <select id="listEnableAll" resultMap="BaseResultMap">
        SELECT <include refid="TbColumns"/>
        FROM <include refid="TbName"/>
        WHERE
        enable_status = 1
        ORDER BY days_of_validity DESC
    </select>

    <select id="listAllPage" parameterType="com.tcxx.serve.service.query.TcMemberRechargePackageQuery" resultMap="BaseResultMap">
        SELECT <include refid="TbColumns"/>
        FROM <include refid="TbName"/>
        ORDER BY days_of_validity DESC
        LIMIT #{pagingRecordStart}, #{pagingPageSize}
    </select>

    <select id="countAll" resultType="java.lang.Integer" >
        SELECT
        COUNT(1)
        FROM
        <include refid="TbName"/>
    </select>

</mapper>