<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tcxx.serve.service.mapper.TcMemberMapper">

    <resultMap id="BaseResultMap" type="com.tcxx.serve.service.entity.TcMember">
        <result column="user_id" property="userId" />
        <result column="first_member_open_time" property="firstMemberOpenTime" />
        <result column="member_end_date" property="memberEndDate" />
        <result column="version" property="version" />
        <result column="modified" property="modified" />
        <result column="created" property="created" />
    </resultMap>

    <sql id="TbName">
        tc_member
    </sql>

    <!-- 用于select查询、insert的公用抽取的列 -->
    <sql id="TbColumns">
		user_id,first_member_open_time,member_end_date,version,modified,created
	</sql>

    <insert id="insert" parameterType="com.tcxx.serve.service.entity.TcMember">
        INSERT INTO <include refid="TbName"/> (
        <include refid="TbColumns"/>
        )  VALUES (
        #{userId},
        #{firstMemberOpenTime},
        #{memberEndDate},
        1,
        NOW(),
        NOW()
        )
    </insert>

    <update id="updateMemberEndDate" parameterType="com.tcxx.serve.service.entity.TcMember" >
        UPDATE <include refid="TbName"/>
        SET
        member_end_date = #{memberEndDate},
        version = version+1,
        modified = now()
        WHERE
        user_id = #{userId}
        AND version = #{version}
    </update>

    <select id="getByUserId" resultMap="BaseResultMap" parameterType="com.tcxx.serve.service.query.TcMemberQuery" >
        SELECT <include refid="TbColumns"/>
        FROM <include refid="TbName"/>
        WHERE
        user_id = #{userId}
    </select>

    <select id="listByCondition" parameterType="com.tcxx.serve.service.query.TcMemberQuery" resultMap="BaseResultMap">
        SELECT <include refid="TbColumns"/>
        FROM <include refid="TbName"/>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="userId != null and userId != ''"> AND user_id = #{userId}</if>
            <if test="valid != null and valid == 1"> AND member_end_date &gt;= NOW()</if><!-- 有效 -->
            <if test="valid != null and valid == 2"> AND member_end_date &lt; NOW()</if><!-- 无效 -->
        </trim>
        ORDER BY created DESC
        LIMIT #{pagingRecordStart}, #{pagingPageSize}
    </select>

    <select id="countByCondition" resultType="java.lang.Integer" parameterType="com.tcxx.serve.service.query.TcMemberQuery">
        SELECT
        COUNT(1)
        FROM
        <include refid="TbName"/>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="userId != null and userId != ''"> AND user_id = #{userId}</if>
            <if test="valid != null and valid == 1"> AND member_end_date &gt;= NOW()</if><!-- 有效 -->
            <if test="valid != null and valid == 2"> AND member_end_date &lt; NOW()</if><!-- 无效 -->
        </trim>
    </select>

</mapper>